/* recommendation interface css */

div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

div.choice {
    padding: 10px;
    margin: 15px;
    border-style: solid;
}

div.choice table {
    width: 100%;
    border: none;
    padding: 0;
}

table.choice {
    width: 100%;
    border: none;
    padding: 0;
}

table.choice tr td {
    border: none;
}

div.choice td.icon {
    width: 20%;
    text-align: center;
    padding: 15px;
}

div.recommended {
    background-color: #fcd08b;
}

div.recommended p.message{
    text-align: center;
}
