{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recommend/css/recommend.css' %}" />

<div id="recommendations">
    {% for choice in collection.choice_set.all|dictsort:"key" %}
    <div class="choice {% if recommended_choice == choice %}recommended{% endif %}">
        {% if recommended_choice == choice %}
        <p class="message"><em>Recommended for you based on your Learner Profile:</em></p>
        {% endif %}
        <table class="choice" >
            <tbody>
                <tr>
                    <td class="icon"><img src="{{ choice.image_url }}" alt="{{ choice.name }}" width="100%" height="auto"/></td>
                    <td>{{ choice.description | safe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
